<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/otp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <title>Confirmation code</title>
</head>
<body>
    <p>OTP sent to you email</p>
<h1>Enter OTP</h1>
<form action="/otp-drivers" method="post" class="otp-field">
    <input  name="code" type="text" maxlength="4" />
    <button type="submit" name="codess">Submit</button>
</form>
</body>
</html>